@model IEnumerable<Product>

<div class="row">
    <div class="col-3">
        @await Component.InvokeAsync("CategoriesMenu")
        @await Component.InvokeAsync("ProductFilterMenu")
    </div>
    <div class="col-9">
        <div class="row">
            @foreach (var product in Model)
            {
                <partial name="_ProductCard" model="@product"/>
            }
        </div>
    </div>
</div>