@page "/get-in-touch"
@model Contact


<div class="text-center">
    <div class="display-6">
        Contact
    </div>
    <div class="lead my-3 border rounded">
        <p class="my-3">
            <i class="fa fa-phone-square text-primary"></i>
            05551112233
        </p>
        <p class="my-3">
            <i class="fa fa-address-card text-primary"></i>
            Bla Bla Mah, Aşağı Sk. No: 999 Arsin/TRabzon
        </p>
        <p class="my-3">
            <i class="fa fa-at text-primary"></i>
            blabla@blalba.com
        </p>

    </div>
</div>