@model ProductDtoForUpdate

<div class="text-center my-3">
    <h6 class="display-6">
        Update
    </h6>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" asp-validation-summary="All">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="card p-4">
    <div class="row">
        <div class="col-6">
            <form method="post" asp-action="Update" enctype="multipart/form-data">
                <input hidden asp-for="ProductId"/>
                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label">Category</label>
                    <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories">
                        <optgroup label="Select Category"></optgroup>
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="ProductName" class="form-label">Product Name</label>
                    <input class="form-control" asp-for="ProductName">
                </div>
                <div class="mb-3">
                    <label asp-for="Summary" class="form-label">Summary</label>
                    <input class="form-control" asp-for="Summary">
                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="form-label">Price</label>
                    <input class="form-control" asp-for="Price">
                </div>
                <div class="mb-3">
                    <label asp-for="ImageUrl">Select Image</label>
                    <input class="form-control" type="file" id="ImageUrl" name="file">
                </div>
                <div class="mb-3 btn-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
                        <i class="fa fa-list"></i>
                        Products
                    </a>
                </div>
            </form>
        </div>
        <div class="col-6">
            <img class="w-100 rounded shadow" src="@Model.ImageUrl" alt=""/>
        </div>
    </div>
</div>