@if (User.Identity is {IsAuthenticated: true })
{
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link" aria-current="page"
               asp-area="Admin"
               asp-controller="Dashboard"
               asp-action="Index">
                <i class="fa-solid fa-user-gear"></i>
                Admin
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link" aria-current="page"
           asp-area=""
           asp-controller="Account"
           asp-route-returnUrl="@Context.Request.PathAndQuery()"
           asp-action="Logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout (Hello <b>@User.Identity.Name</b>)
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" aria-current="page"
           asp-area=""
           asp-controller="Account"
           asp-route-returnUrl="@Context.Request.PathAndQuery()"
           asp-action="Login">
            <i class="fa-solid fa-right-to-bracket"></i>
            Login
        </a>
    </li>
}