@model UserDtoForUpdate

<div class="text-center my-3">
    <h6 class="display-6">
        Update User
    </h6>
</div>

<partial name="_ValidationSummaryPartial"/>

<div class="card p-4">
    <form method="post" asp-action="Update" enctype="multipart/form-data">
        <input type="hidden" asp-for="CurrentUserName"/>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">User Name</label>
                    <input class="form-control" asp-for="UserName">
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input class="form-control" asp-for="Email">
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                    <input class="form-control" asp-for="PhoneNumber">
                </div>
                <div class="mb-3 btn-group d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <a class="btn btn-outline-primary" asp-controller="User" asp-action="Index">
                        <i class="fa fa-list"></i>
                        Users
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <div class="lead p-2 mt-2">
                    Roles
                    @foreach (var role in Model.Roles)
                    {
                        <div class="form-check my-2">
                            <input type="checkbox" name="Roles" value="@role" class="form-check-input"
                                   @(Model.UserRoles.Contains(role) ? "checked" : "")>
                            <label class="form-check-label">@role</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>