<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store App | Admin Page</title>
    <link asp-append-version="true" rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link asp-append-version="true" rel="stylesheet" href="~/lib/font-awesome/css/all.css"/>
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css"/>
    @await RenderSectionAsync("css", false)
</head>

<body>
<header>
    @await RenderSectionAsync("Header", false)
    <partial name="_Navbar"/>
</header>

<div class="container">
    <div>
        <partial name="_Notification"/>
    </div>
    <main role="main" class="p-3">
        @RenderBody()
    </main>
</div>

<footer>
    @await RenderSectionAsync("Footer", false)
    <partial name="_Footer"/>
</footer>

<script asp-append-version="true" src="~/lib/jquery/jquery.min.js"></script>
<script asp-append-version="true" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script asp-append-version="true" src="~/lib/font-awesome/js/all.min.js"></script>
<script asp-append-version="true" src="~/js/site.js"></script>
@await RenderSectionAsync("js", false)
</body>

</html>